body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header 
{
	background-color: #d392bf;
	color: #fff;
	padding: 70px;
}

header h1 
{
	margin: 0;
}

.container 
{
	display: flex;
	flex-wrap: wrap;
}

.sidebar 
{
	width: 20%;
	background-color: #f0f0f092;
	padding: 20px;
}

.sidebar ul 
{
	list-style: none;
	margin: 0;
	padding: 0;
}

.sidebar li 
{
	margin-bottom: 50px;
}

.sidebar a 
{
	color: #0b0b0b;
	text-decoration: none;
}

.sidebar a:hover 
{
	color: #d392bf;
}

.content 
{
	width: 80%;
	padding: 20px;
}

.content h2 
{
	margin-top: 0;
}

footer 
{
	background-color: #d392bf;
	color: #fff;
	padding: 10px;
	text-align: center;
	clear: both;
}

footer p 
{
	margin: 0;
}